__pycache__/*

res/*
!res/layouts
res/layouts/*
!res/layouts/default.json

!res/localizations
res/localizations/*
!res/localizations/strings-en.json

!res/themes
res/themes/*
!res/themes/default.json

magic/*
releases/*

ffmpeg.exe
ffplay.exe
ffprobe.exe